.content {
  margin: auto;
  max-width: 1300px;
  padding: 10px;
  background-color: lightgray;
  font-size: x-large;
}

.content-paragraph {
  text-align: justify;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.title {
  text-align: center;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper+.image-wrapper {
  margin-top: 20px;
}

.image {
  max-width: 800px;
  max-height: 800px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 20px;
}